// spacing
$margin-padding: 15px;

// colors
$pinterest-red: #bd081c;
$pinterest-gray: #efefef;
$pinterest-black: #000000;

// screen sizes
$mobile-small: 320px;
$mobile-medium: 480px;
$tablet: 768px;
$desktop-sm: 1024px;
$desktop-md: 1440px;
$desktop-lg: 1920px;
