// spacing
$border-radius: 25px;
$padding: 15px;
$pin-size: 260px;

// colors
$pinterest-red: #bd081c;
$pinterest-gray: #efefef;
$pinterest-gray-hover: #e0e0e0;
$pinterest-font-black: #211922;
$pinterest-black: #000000;
$pinterest-white: #ffffff;

// fonts
$font-sm: 14px;

// screen sizes
$mobile-sm: 320px;
$mobile-md: 480px;
$tablet: 768px;
$desktop-sm: 1024px;
$desktop-md: 1440px;
$desktop-lg: 1920px;
