@import 'variables';

body {
	padding-top: $padding * 4;
}

.container {
	height: 0;
	margin: $padding * 2 auto $padding * 4;
	width: 93%;

	#widgets-btn {
		background: $pinterest-gray;
		color: $pinterest-font-black;

		&:hover {
			background: $pinterest-gray-hover;
		}
	}
}

#drag-container {
	margin: 0 auto;
	max-width: 95%;

	.gutter-sizer {
		width: 0;
	}

	.widget,
	.grid-sizer {
		width: 100%; /* fallback if calc isn't supported */
	}

	.widget {
		float: left;
		height: 400px;

		&:hover {
			cursor: move;
		}

		&--ht-lg {
			height: auto;
		}

	}

	@media ( min-width: $mobile-md ) {
		.widget,
		.grid-sizer {
			width: 12%; /* fallback if calc isn't supported */
			width: calc( 100% / 9 );

			&--wd-lg {
				margin-top: 0;
				width: 78%;
				width: calc( 100% / 9 * 6 );
			}
		}

		.gutter-sizer {
			width: 5px;
		}
	}
}

/* Draggabilly adds is-dragging */
.grid-item.is-dragging,
/* Packery adds class while transitioning to drop position */
.grid-item.is-positioning-post-drag {
  background: #C90;
  z-index: 2; /* keep dragged item on top */
}

.packery-drop-placeholder {
  outline: 3px dashed #444;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}