@import 'variables';

.pins {
	margin: 0 auto;
	position: relative;
	
	.pin,
	.pin-sizer {
		width: 260px;
	}

	.pin {
		font-family: 'Helvetica Helvetica Neue', sans-serif;
		box-sizing: border-box;
		background: $pinterest-gray;
		color: #555;
		margin-top: $margin-padding * 2;
		overflow-wrap: break-word;
		padding: 10px;

		.pin-img {
			max-height: 100%;
			max-width: 100%;
		}
	}
}
