.pins {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}

.pins .pin {
	flex: 1 0 200px;
	font-family: 'Helvetica Helvetica Neue', sans-serif;
	box-sizing: border-box;
	background: #efefef;
	color: #555;
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
}

@media (min-width: 320px) {
	.pins .pin {
		max-width: calc(50% - 10px);
	}
}

@media (min-width: 480px) {
	.pins .pin {
		max-width: calc(33.3333% - 10px);
	}
}

@media (min-width: 768px) {
	.pins .pin {
		max-width: calc(25% - 10px);
	}
}