@import 'variables';

.pins {
	margin: 0 auto;

	.pin,
	.pin-sizer {
		width: 260px;
	}

	.pin {
		font-family: 'Helvetica Helvetica Neue', sans-serif;
		box-sizing: border-box;
		background: $pinterest-gray;
		color: #555;
		margin-top: 20px;
		overflow-wrap: break-word;
		padding: 10px;
	}
}
